@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.register-view{
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.register-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.register-title{
    color: #9758E4;
    font-size: 2vw;
    font-weight: bolder;
}
vaadin-text-field{
    width: 20%;
    height: 5%;
}
vaadin-email-field{
    width: 20%;
    height: 5%;
}
vaadin-password-field{
    width: 20%;
    height: 5%;
}

vaadin-text-field::part(input-field) {
    border: 1px solid #9758E4;
    border-radius: 0.5vw;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #9758E4;
}
vaadin-email-field::part(input-field) {
    border: 1px solid #9758E4;
    border-radius: 0.5vw;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #9758E4;
}
vaadin-password-field::part(input-field) {
    border: 1px solid #9758E4;
    border-radius: 0.5vw;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #9758E4;
}
vaadin-password-field > input:placeholder-shown{
    color: rgba(151, 88, 228, 0.62);
}
vaadin-email-field > input:placeholder-shown{
    color: rgba(151, 88, 228, 0.62);
}
vaadin-text-field > input:placeholder-shown{
    color: rgba(151, 88, 228, 0.62);
}

.register-button{
    width: 20%;
    height: 5%;
    border-radius: 0.5vw;
    background-color: #9758E4;
    color: white;
}
.login-view{
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.login-title{
    color: #9758E4;
    font-size: 2vw;
    font-weight: bolder;
}
.login-button{
    width: 20%;
    height: 5%;
    border-radius: 0.5vw;
    background-color: #9758E4;
    color: white;
}
.login-view a{
    text-decoration: none;
    color: #9758E4;
}
.register-view a{
    text-decoration: none;
    color: #9758E4;
}
#main{
    height: 100%;
    display: flex;
    /*background-color: blue;*/
    justify-content: start;
    gap: 5%;
    align-items: start;
}
#left-navigation img{
    margin-top: 5%;
    margin-bottom: 40%;
}
#left-navigation{
    margin-top: 2%;
    display: flex;
    justify-content: start;
    gap: 7%;
    align-items: center;
    flex-direction: column;
    width: 15% !important;
    height: 80% !important;
    background-color: #161616;
    aspect-ratio: 9 / 27;
    border-radius: 1vw;
    margin-left: 2%;
}
#left-navigation a{
    width: 65% !important;
    color: white;
    text-decoration: none;
    text-align: left;
}
#center-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 75% !important;
    height: 77% !important;
    /*background-color: yellow;*/
    padding: 0;
}
#top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: green;*/
    width: 100%;
    height: 10%;
    color: white;
    margin-bottom: 4%;
    margin-top: 1%;
}
#top-bar h1{
    color: white;
    margin-left: 2%;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 7%;
    width: 35% !important;
}
.log-workout-button{
    font-size: 2vw;
    width: 35%;
    height: 4vh;
    border-radius: 1vw;
    background-color: #9758E4;
    color: #161616;
}
.topBtn{
    width: 10%;
    border-radius: 1.5vw;
    height: 5vh;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topBtn img{
    width: 1vw;
}
#center-upper-part{
    /*background-color: cyan;*/
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
    /* gap: 20%; */
    flex-direction: row;
}

#second-container {
    width: 80% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
.main-container-widget {
    background-color: #161616;
    color: white;
    width: 40% !important;
    display: grid;
    /* justify-content: start; */
    /* align-items: start; */
    flex-direction: column;
    height: 100%;
    border-radius: 2vw;
}
.main-container-widget h1{
    color: white;
    font-size: 1vw;
}
.main-container-widget img{
    width: 10% !important;
}
.second-container-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100% !important;
    height: 40%;
}
.widget-context{
    font-size: 2.5vw;
    color: #9758E4;
    /* margin-left: 40%; */
    /* height: 10%; */
    /* width: 100% !important; */
    text-align: right;
    padding-right: 1vw;
}
.main-container-widget-title{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}
#challenge-container {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #161616;
    color: white;
    border-radius: 1vw;
    width: 90% !important;
}
#challenge-container h1{
    color: white;
    font-size: 1.5vw;
}
#challenges{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: 1vw;
}
#challenge-content {
    width: 80% !important;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding: 0.3vw;
}
#challenge-content img{
    width: 7% !important;
}
#challenge-container-title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}
#challenge-container-title img{
    width: 10% !important;
}
#first-container{
    display: flex;
    width: 30%;
    justify-content: flex-end;
    /* align-content: center; */
    align-items: center;
}
#center-lower-part{
    background-color: #161616;
    border-radius: 1.5vw;
    display: flex;
    justify-content: start;
    align-items: center;

}
#third-container-title{
    color: white;
    font-size: 1vw;
}
#divider{
    width: 100% !important;
    border: 0.05vw solid white;
}
#last-workout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
}
#last-workout-title{
    color: white;
    font-size: 0.7vw;
}
#last-workout-date{
    color: white;
    font-size: 0.7vw;
}


#workouts-div {
    height: 100%;
    display: flex;
    justify-content: start;
    gap: 5%;
    align-items: start;
}

#workouts-container{
    width: 100%;

}
.workout-field{
    align-items: center;
    height: 10%;
    width: 85%;
    border-radius: 2vh;
    background-color: #161616;
    display: flex;
    flex-direction: row;
    color: white;
}
.workout-time-spent{
    text-align: center;
    background-color: rgba(151, 88, 228, 0.51);
    height: 50%;
    width: 15%;
    border-radius: 1vh;
    border: 2px solid #A667F3;
}
.workout-burnt-cals{
    background-color: rgba(151, 88, 228, 0.51);
    height: 50%;
    width: 15%;
    border-radius: 1vh;
    border: 2px solid #A667F3;
    text-align: center;
}
.workout-date{
    margin-left: 5%;
}
.workout-time-spent-holder{
    margin-left: 15%;
}
