@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.register-view{
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.register-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.register-title{
    color: #9758E4;
    font-size: 2vw;
    font-weight: bolder;
}
vaadin-text-field{
    width: 20%;
    height: 5%;
}
vaadin-email-field{
    width: 20%;
    height: 5%;
}
vaadin-password-field{
    width: 20%;
    height: 5%;
}

vaadin-text-field::part(input-field) {
    border: 1px solid #9758E4;
    border-radius: 0.5vw;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #9758E4;
}
vaadin-email-field::part(input-field) {
    border: 1px solid #9758E4;
    border-radius: 0.5vw;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #9758E4;
}
vaadin-password-field::part(input-field) {
    border: 1px solid #9758E4;
    border-radius: 0.5vw;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #9758E4;
}
vaadin-password-field > input:placeholder-shown{
    color: rgba(151, 88, 228, 0.62);
}
vaadin-email-field > input:placeholder-shown{
    color: rgba(151, 88, 228, 0.62);
}
vaadin-text-field > input:placeholder-shown{
    color: rgba(151, 88, 228, 0.62);
}

.register-button{
    width: 20%;
    height: 5%;
    border-radius: 0.5vw;
    background-color: #9758E4;
    color: white;
}
.login-view{
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.login-title{
    color: #9758E4;
    font-size: 2vw;
    font-weight: bolder;
}
.login-button{
    width: 20%;
    height: 5%;
    border-radius: 0.5vw;
    background-color: #9758E4;
    color: white;
}
.login-view a{
    text-decoration: none;
    color: #9758E4;
}
.register-view a{
    text-decoration: none;
    color: #9758E4;
}
#main{
    height: 100%;
    display: flex;
    /*background-color: blue;*/
    justify-content: start;
    gap: 5%;
    align-items: start;
}
#left-navigation img{
    width: 20%;
    margin-top: 5%;
    margin-bottom: 40%;
}
#left-navigation{
    display: flex;
    justify-content: start;
    gap: 7%;
    align-items: center;
    flex-direction: column;
    width: 15% !important;
    height: 80% !important;
    background-color: #161616;
    aspect-ratio: 9 / 27;
    border-radius: 1vw;
    margin-left: 3%;
    margin-top: 3%;
}
#left-navigation a{
    width: 65% !important;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 1.2vw;
}
#center-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 75% !important;
    height: 77% !important;
    /*background-color: yellow;*/
    padding: 0;
}
#top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    color: white;
}
#top-bar h1{
    font-size: 3vw;
    color: white;
    margin-left: 2%;
    font-weight: bolder;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 7%;
    width: 35% !important;
}
.log-workout-button{
    font-size: 1vw;
    width: 35%;
    height: 4vh;
    border-radius: 1vw;
    background-color: #9758E4;
    color: #161616;
}
.topBtn{
    width: 10%;
    border-radius: 1.5vw;
    height: 5vh;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topBtn img{
    width: 1vw;
}

/*main*/

#center-upper-part{
    /*background-color: cyan;*/
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20%; */
    flex-direction: row;
}

#second-container {
    width: 80% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-container-widget {
    background-color: #161616;
    color: white;
    width: 40% !important;
    display: grid;
    /* justify-content: start; */
    /* align-items: start; */
    flex-direction: column;
    height: 100%;
    border-radius: 2vw;
}
.main-container-widget h1{
    color: white;
    font-size: 1vw;
}
.main-container-widget img{
    width: 10% !important;
}
.second-container-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100% !important;
    height: 40%;
}
.widget-context{
    font-size: 2.5vw;
    color: #9758E4;
    /* margin-left: 40%; */
    /* height: 10%; */
    /* width: 100% !important; */
    text-align: right;
    padding-right: 1vw;
}
.main-container-widget-title{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}
#challenge-container {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #161616;
    color: white;
    border-radius: 1vw;
    width: 90% !important;
    padding: 5%
}
#challenge-container h1{
    color: white;
    font-size: 1.5vw;
}
#challenges{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: 0.7vw;
    padding: 0;
}
#challenge-content {
    width: 80% !important;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding: 0.3vw;
}
#challenge-content img{
    width: 7% !important;
}
#challenge-container-title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}
#challenge-container-title img{
    width: 10% !important;
}
#first-container{
    display: flex;
    width: 30%;
    justify-content: flex-end;
    /* align-content: center; */
    align-items: center;
}
#center-lower-part{
    background-color: #161616;
    border-radius: 1.5vw;
    display: flex;
    justify-content: start;
    align-items: center;

}
#third-container-title{
    color: white;
    font-size: 1.4vw;
}
#divider{
    width: 100% !important;
    border: 0.05vw solid white;
}
#last-workout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
}
#last-workout-title{
    color: white;
    font-size: 1vw;
}
#last-workout-date{
    color: white;
    font-size: 1vw;
}

/*workouts*/

#workouts-div {
    height: 100%;
    display: flex;
    justify-content: start;
    gap: 5%;
    align-items: start;
}

#workouts-container{
    width: 100% !important;
    overflow-y: scroll;
    margin-top: 2% !important;
    margin-right: 3%;
}
#workouts-container::-webkit-scrollbar {
    display: none;
}
.workout-field{
    align-items: center;
    height: 10%;
    width: 85%;
    border-radius: 2vh;
    background-color: #161616;
    display: flex;
    flex-direction: row;
    color: white;
}
.workout-time-spent{
    text-align: center;
    background-color: rgba(151, 88, 228, 0.51);
    height: 50%;
    width: 15%;
    border-radius: 1vh;
    border: 2px solid #A667F3;
}
.workout-burnt-cals{
    background-color: rgba(151, 88, 228, 0.51);
    height: 50%;
    width: 15%;
    border-radius: 1vh;
    border: 2px solid #A667F3;
    text-align: center;
}
.workout-date{
    margin-left: 5%;
    width: 15%;
}
.workout-time-spent-holder{
    margin-left: 19%;
    width: 10%;
}
.workout-burnt-cal-holder{
    width: 10%;
}

/*log workout*/

/*#workout-div{*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: start;*/
/*    gap: 5%;*/
/*    align-items: start;*/
/*}*/
#rightContainer{
    display: flex;
    flex-direction: column;
}



/*profile*/
#profile-div{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
    align-items: start;
}

#center-container-profile{
    background-color: #161616;
    border-radius: 2vh;
    width: 90% !important;
    margin-left: 3vh;
    color: white;
    padding: 3vh;
}
#profile-pic{
    width: 7vw;
}
#second-container-profile{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.user-info-id{
    color: #717171;
}
.user-info-name{
    font-weight: bold;
    font-size: 1.1vw;
}
.user-info-email{
    font-weight: bold;
    font-size: 1.1vw;
}
#user-info {
    padding: 0;
    margin: 0;
    gap: 0.2vw;
    line-height: 1.2;
}
.user-info-id,
.user-info-name,
.user-info-email {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.second-container-title{
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 0;
}
.workout-info{
    align-items: center;
    height: 10%;
    width: 100%;
    border-radius: 2vh;
    border: #9758E4 1px solid;
    display: flex;
    flex-direction: row;
    color: white;
}
/*ExersiceView*/
#exercises-view{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
    align-items: start;
}
#ex-right-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80% !important;
    height: 96% !important;
    margin-right: 5%;
    margin-top: 2%;
}
#middle-container-exercises{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 95% !important;
    height: 80% !important;
    margin-right: 5%;
    margin-top: 3%;
    overflow-y: scroll;
}
#middle-container-exercises::-webkit-scrollbar {
    display: none;
}
#exercise-container{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #161616;
    width: 80%;
    height: 20vh !important;
    color: white;
    padding: 2vw;
    border-radius: 1vw;
}
#exercise-container p{
    width: 70%;
    font-size: 0.8vw;
}
.exercise-image{
    width: 40%;
    height: 130%;
    border-radius: 1vw;
}
.line{
    height: 100%;
    width: 0.3%;
    background-color: #9758E4;
}
.exercise-name{
    color: #9758E4;
    font-size: 1.5vw;
}
#top-container-workout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;

}
#top-container-right{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 7%;
    width: 35% !important;

}
#log-workout{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
    align-items: start;
}
#right-section-workouts {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#middle-container-log-workout{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    width: 95% !important;
    height: 80% !important;
    margin-right: 5%;
    margin-top: 3%;
}
.choose-plan-title{
    color: white;
}
.choose-exercise-title{
    color: white;
}

#exercise-container-logworkout{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    overflow-y: scroll;
    height: 20vh !important;
}
#exercise-container-logworkout::-webkit-scrollbar {
    display: none;
}
.exercise-div{
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 0.7vw;
    border-radius: 0.7vw;
}
#form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40% !important;
    height: 30% !important;
}
#form-container-upper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 20%;
}
#form-container-lower{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 20%;
}
.form-title{
    font-size: 1.5vw;
    color: white;
    margin: 0;
}
.log-workout-title {
    color: white;
}

vaadin-text-field.title-field::part(input-field) {
    border-radius: 0.5vw;
    background-color: #161616;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
}
vaadin-text-field.title-field{
    width: 40%;
    height: 100%;
}
vaadin-text-field.title-field > input:placeholder-shown{
    color: rgba(255, 255, 255, 0.19);
}

vaadin-text-field.bpm-field::part(input-field) {
    border-radius: 0.5vw;
    background-color: #161616;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
}
vaadin-text-field.bpm-field{
    width: 60%;
    height: 100%;
}
vaadin-text-field.bpm-field > input:placeholder-shown{
    color: rgba(255, 255, 255, 0.19);
}


vaadin-text-field.time-spend-field::part(input-field) {
    border-radius: 0.5vw;
    background-color: #161616;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
}
vaadin-text-field.time-spend-field{
    width: 40%;
    height: 100%;
}
vaadin-text-field.time-spend-field > input:placeholder-shown{
    color: rgba(255, 255, 255, 0.19);
}

vaadin-text-field.date-field::part(input-field) {
    border-radius: 0.5vw;
    background-color: #161616;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
}
vaadin-text-field.date-field{
    width: 40%;
    height: 100%;
}
vaadin-text-field.date-field > input:placeholder-shown{
    color: rgba(255, 255, 255, 0.19);
}

.exercise-title{
    color: white;
    width: 70% !important;
    margin-left: 2%;
    font-size: 1.2vw;
}

.weight-field{
    margin-left: 50%;
    width: 10% !important;
    height: 100% !important;
}
.reps-field{
    width: 10% !important;
    height: 100% !important;
}
.sets-field{
    width: 10% !important;
    height: 100% !important;
}

vaadin-text-field.weight-field::part(input-field) {
    border-radius: 0.5vw;
    background-color: rgba(151, 88, 228, 0.29);
    width: 100%;
    height: 100%;
    border: none;
    color: white;
}
vaadin-text-field.weight-field > input:placeholder-shown{
    color: #9758E4;
}

vaadin-text-field.reps-field::part(input-field) {
    border-radius: 0.5vw;
    background-color: rgba(151, 88, 228, 0.29);
    width: 100%;
    height: 100%;
    border: none;
    color: white;
}
vaadin-text-field.reps-field > input:placeholder-shown{
    color: #9758E4;
}

vaadin-text-field.sets-field::part(input-field) {
    border-radius: 0.5vw;
    background-color: rgba(151, 88, 228, 0.29);
    width: 100%;
    height: 100%;
    border: none;
    color: white;
}
vaadin-text-field.sets-field > input:placeholder-shown{
    color: #9758E4;
}
vaadin-checkbox::part(checkbox) {
    border: 0.05vw solid #A667F3;
    border-radius: 0.25vw;
    background-color: rgba(151, 88, 228, 0.29);
}
vaadin-checkbox::part(checkbox)::after {
    background-color: #A667F3;
    border-radius: 0.25vw;
 }
vaadin-select{
    width: 20%;
    --vaadin-field-default-color: white;
}
vaadin-select::slotted(*:hover) {
    background-color: transparent;
    color: white;
}
vaadin-select::part(input-field) {
    background: #161616;
    border-radius: 0.5vw;
    color: white;
}
vaadin-select::part(toggle-button) {
    color: white;
}
vaadin-select::part(label) {
    color: white;
    font-weight: bold;
}
vaadin-select::part(value) {
    color: white;
    font-style: italic;
}
vaadin-select-list-box {
    background-color: #161616;
    border-radius: 0.6vw;
    color: white;
}
vaadin-select-overlay::part(content){
    background: transparent;
    border: none;
    box-shadow: none;
}
vaadin-select-overlay::part(overlay){
    background: transparent;
    border: none;
    box-shadow: none;
}
vaadin-select-item{
    color: white;
}

/*plans*/
#plans-div{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
    align-items: start;
}
#middle-container-plans{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    width: 95% !important;
    height: 80% !important;
    margin-right: 5%;
    margin-top: 3%;
}
.plan-div{
    align-items: center;
    height: 10%;
    width: 85%;
    border-radius: 2vh;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    padding: 0.5vw;
}
.plan-title{
    color: white;
    font-size: 1.5vw;
}
.difficulty{
    background-color: rgba(151, 88, 228, 0.51);
    height: 50%;
    width: 30%;
    border-radius: 1vh;
    border: 2px solid #A667F3;
    text-align: center;
    display: flex;
    justify-content: center;
}
.days{
    background-color: rgba(151, 88, 228, 0.51);
    height: 50%;
    width: 20%;
    border-radius: 1vh;
    border: 2px solid #A667F3;
    text-align: center;
    display: flex;
    justify-content: center;
}
#filter-in-plan{
    display: flex;
    justify-content: end;
    margin-right: 5%;
    width: 45%;
}
#plans-right-container{
    margin-top: 3%;
    margin-right: 3%;
}
.filterBy-title{
    color: white;
}
.found-plans-title{
    color: white;
}
.no-workouts{
    color: white;
}
.no-plans{
    color: white;
}
html, body, #outlet {
    background: transparent !important;
}



